.main_tit {
  margin: 10%;
}

.main_tit h1 {
  font-size: medium;
}

#logout {
  background-color: #2f383f;
  color: white;
  padding: 5px 10px;
}

#route_pick > button,
.call_vehicles > button {
  background-color: white;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  //box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

#route_pick {
  padding: 2vw 0 2vw 0;
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#route_pick > select {
  padding: 10px;
  width: 100%;
  margin-bottom: 10%;
}

.go_map {
  padding: 5% 10%;
  color: white;
  margin: 0 5px 10% 5px;
  font-size: large;
}

.go_map:nth-child(1) {
  background-color: #d90c0c;
}
.go_map:nth-child(2) {
  background-color: #0056ff;
}

.go_edit {
  padding: 2% 4%;
  color: black;
  background-color: white;
  margin-bottom: 3%;
  font-size: 0.8rem;
}

.go_edit:hover,
.go_map:hover {
  background-color: #2f383f;
  color: white;
}

/* 경로 추가 페이지 */

#search_wrap input {
  padding: 5px;
  margin-right: 5px;
}

#search_wrap button {
  padding: 0 10px;
}

#regi_wrap {
  z-index: 500;
  display: block;
  position: fixed;
  background-color: white;
  width: 100vw;
  top: 75vh;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.1);
  height: 25vh;
  padding: 2% 0;
}

.categ_box,
.from_to_box,
.transfer_box {
  margin: 5%;
  display: flex;
}

#regi_wrap select,
input {
  padding: 10px;
  margin-right: 5px;
}

#regi_wrap button {
  padding: 0 10px;
}

#tf_select {
  width: 40vw;
}

#registerBtn {
  margin: 5%;
  background-color: #2f383f;
  color: white;
}
