#map_wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.copyright_box {
  //position: fixed;
  position: relative;
  z-index: 10;
  //top: 90vh;
  padding: 5px;
  text-align: right;
  //right: 1vw;
  font-size: xx-small;
  font-weight: 300;
}

.copyright_box a {
  display: block;
  color: #2f383f;
  text-decoration: none;
}
.cc_license img {
  width: 90px;
}
.cc_license span {
  color: #2f383f;
}

.util {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  padding: 15px;
  display: flex;
}

#crawling_data {
  position: fixed;
  top: 0;
  z-index: 500;
  margin: 15px;
  padding: 10px;
  background-color: #ffffffab;
  border-radius: 5px;
  font-weight: 400;
  font-size: x-small;
  text-decoration: none;
  color: black;
}

#crawling_data:hover {
  cursor: pointer;
  font-weight: 500;
}

.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-color: #ffffffb3;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.badges span {
  margin-right: 5px;
  font-size: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: 300;
}

/* 호출 토스트 팝업 */

.call_overlay {
  width: 100vw;
  height: 100vh;
  z-index: 501;
  display: block;
  position: fixed;
}

.call_wrap {
  z-index: 500;
  display: block;
  position: fixed;
  background-color: white;
  width: 100vw;
  top: 25vh;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.1);
}

#call_wrap_close {
  margin: 10px;
  padding: 5px;
}

.call_wrap_tit {
  margin: 0 15px 0 15px;
}

#cluster_tit {
  display: block;
  width: 75vw;
  margin: 10px;
}

.call_vehicles {
  margin: 10px;
  position: relative;
  z-index: 501;
}

.call_vehicles button {
  position: relative;
  z-index: 502;
}

.call_vehicles button:hover {
  background-color: #2f383f;
  color: white;
}

.call_btn_action {
  border: 2px solid #2f383f;
}

.call_bus_bike,
.call_sub {
  height: 70vh;
  width: 100vw;
}

#bus_bike_list,
#sub_list {
  margin: 0;
  padding: 10px;
  overflow: scroll;
  height: 50vh;
}

.route_li,
.s_route_li {
  margin: 10px;
}

.route_title {
  width: 30vw;
  text-align: center;
  //border: 2px solid #0056ff;
  border-radius: 10px;
  line-height: 2.5;
  color: white;
}

.air_bus {
  background-color: rgb(44, 174, 255);
}

.town_bus {
  background-color: rgb(111, 255, 0);
}

.blue_bus {
  background-color: #0056ff;
}

.green_bus {
  background-color: rgb(33 243 19);
}

.yellow_bus {
  background-color: rgb(223, 194, 6);
}

.far_bus {
  background-color: #d90c0c;
}

.route_box {
  width: 150px;
  text-align: center;
}

.route_box span,
.s_route_box span {
  display: block;
  font-size: small;
  font-weight: 500;
}

.s_route_box {
  width: 30vw;
  border-radius: 10px;
  color: white;
  padding: 5px 7px;
}

.line1 {
  background-color: #0056ff;
}

.line2 {
  background-color: rgb(14, 162, 93);
}

.line3 {
  background-color: rgb(255, 140, 0);
}

.line4 {
  background-color: rgb(0, 157, 255);
}

.line5 {
  background-color: rgb(129, 6, 223);
}

.line6 {
  background-color: rgb(150, 67, 11);
}

.line7 {
  background-color: rgb(83, 133, 21);
}

.line8 {
  background-color: rgb(255, 0, 191);
}

.line9 {
  background-color: rgb(174, 153, 17);
}

.central_line {
  background-color: rgb(126, 255, 234);
}

.air_line {
  background-color: rgb(74, 165, 255);
}

.itx_line {
  background-color: rgb(24, 227, 193);
}

.suin_line {
  background-color: yellow;
}

.new_bundang_line {
  background-color: rgb(148, 19, 47);
}

.uiee_line {
  background-color: rgb(160, 198, 22);
}

.west_line {
  background-color: rgb(93, 247, 65);
}

.sinrim_line {
  background-color: rgb(77, 121, 250);
}

.gg_line {
  background-color: rgb(34, 113, 249);
}

.gtxa_line {
  background-color: rgb(189, 103, 255);
}

.s_route_content {
  width: 45vw;
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: 500;
}

.bike_tit {
  width: 60vw;
  background-color: #31dc76;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.bike_content {
  width: 10vw;
}

#call_refresh {
  position: fixed;
  z-index: 500;
  top: 94vh;
  right: 7vw;
  color: #2f383f;
}

#call_refresh:hover,
#call_wrap_close:hover {
  color: #747f88;
}
