<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
      name="viewport"
    />
    <title>MyMap</title>
    <meta
      charset="UTF-8"
      content="minimum-scale=1.0, width=device-width, maximum-scale=1, ser-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/map.css}" />
  </head>
  <body>
    <div class="main">
      <div layout:fragment="content"></div>
      <!--      <th:block th:replace="~{/include/footer :: footer}"></th:block>-->
    </div>
    <th:block layout:fragment="script"></th:block>
  </body>
</html>
